body {
	background-color:#272822;
	color:white;
	font-family: Consolas,"Liberation Mono",Courier,monospace;
	font-size: 13px;
	line-height: 13px;
}
table tr, table td{
	padding:0px;
}
a {
	color:#a6e22d;
}
.bc_comment {
	color:#888888;
}

.bc_keyword_1 {
	color:#ec2772;
}

.bc_keyword_2 {
	color:#53d2ef;
}

.bc_string {
	color:#debb74;
}

.bc_lineno {
        width:20px;
        color:#888888;
}

.bc_number {
        color:#ae81ff;
}
